.grid-container {
    display: grid;
    overflow-y: scroll;
    gap: 1px 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "key ." "field1 field1";
    
    .key { grid-area: key; }
  
    .field1 { grid-area: field1; }
  }