/* You can add global styles to this file, and also import other style files */

.plugin-page-container{
  // margin: 2rem;

  .main-content, .header-content{
      margin-top: 2rem;
  }

  .main-content.ngx-lib {
      .content {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 1px 60px;
          grid-template-areas: "child1 child2 child3 child4";
            .child1 { grid-area: child1; }

            .child2 { grid-area: child2; }

            .child3 { grid-area: child3; }

            .child4 { grid-area: child4; }
        }

  }

  .main-content.pepperi-list {

  }

  .header-content{
      .content{
          padding-bottom: 1rem;
      }
  }


}


@media screen and (max-width: 767px) {
  .plugin-page-container{
      .main-content {
          .content {
              display: block;
          }
      }
  }
}

html {
  --pep-screen-max-size-2xs:460px; --pep-screen-max-size-xs:767px; --pep-screen-max-size-sm:991px; --pep-screen-max-size-md:1199px; --pep-screen-max-size-lg:1366px;
  --pep-screen-max-size-xl:1920px; --pep-side-bar-width:16rem; --pep-top-bar-spacing-top:1.5rem; --pep-top-bar-spacing-bottom:0.5rem; --pep-top-bar-field-height:2.5rem;
  --pep-footer-bar-spacing-top:0.75rem; --pep-footer-bar-spacing-bottom:1.25rem; --pep-border-radius-sm:0.0625rem; --pep-border-radius-md:0.125rem; --pep-border-radius-lg:0.25rem;
  --pep-spacing-2xs:0.125rem; --pep-spacing-xs:0.25rem; --pep-spacing-sm:0.5rem; --pep-spacing-md:0.75rem; --pep-spacing-lg:1rem; --pep-spacing-xl:1.5rem; --pep-spacing-2xl:2rem;
  --pep-font-family-title:Nexa; --pep-font-family-body:Assistant; --pep-font-size-2xs:0.625rem; --pep-font-size-xs:0.75rem; --pep-font-size-sm:0.875rem; --pep-font-size-md:1rem;
  --pep-font-size-lg:1.125rem; --pep-font-size-xl:1.25rem; --pep-font-size-2xl:1.5rem; --pep-line-height-2xs:0.75rem; --pep-line-height-xs:1rem; --pep-line-height-sm:1.25rem;
  --pep-line-height-md:1.5rem; --pep-line-height-lg:1.75rem; --pep-line-height-xl:2rem; --pep-line-height-2xl:2.25rem; --pep-font-weight-normal:400;
  --pep-font-weight-bold:600; --pep-font-weight-bolder:800; --pep-button-2xs-horizontal-spacing:0.25rem; --pep-button-2xs-min-width:1rem; --pep-button-2xs-height:1rem;
  --pep-button-2xs-font-size:var(--pep-font-size-2xs); --pep-button-xs-horizontal-spacing:0.5rem; --pep-button-xs-min-width:2rem; --pep-button-xs-height:1.5rem;
  --pep-button-xs-font-size:var(--pep-font-size-xs); --pep-button-sm-horizontal-spacing:0.75rem; --pep-button-sm-min-width:2rem; --pep-button-sm-height:2rem;
  --pep-button-sm-font-size:var(--pep-font-size-sm); --pep-button-md-horizontal-spacing:1rem; --pep-button-md-min-width:2.5rem; --pep-button-md-height:2.5rem;
  --pep-button-md-font-size:var(--pep-font-size-md); --pep-button-lg-horizontal-spacing:1rem; --pep-button-lg-min-width:3rem; --pep-button-lg-height:3rem;
  --pep-button-lg-font-size:var(--pep-font-size-lg); --pep-button-xl-horizontal-spacing:1.5rem; --pep-button-xl-min-width:5rem; --pep-button-xl-height:4rem;
  --pep-button-xl-font-size:var(--pep-font-size-xl); --pep-color-system-primary-invert-h:255; --pep-color-system-primary-invert-s:100%;
  --pep-color-system-primary-invert-l:100%; --pep-color-system-primary-h:235; --pep-color-system-primary-s:100%; --pep-color-system-primary-l:10%;
  --pep-color-system-success-h:100; --pep-color-system-success-s:100%; --pep-color-system-success-l:25%; --pep-color-system-caution-h:360;
  --pep-color-system-caution-s:100%; --pep-color-system-caution-l:40%; --pep-color-user-primary-h:33; --pep-color-user-primary-s:87%;
  --pep-color-user-primary-l:27.1%; --pep-color-user-secondary-h:218; --pep-color-user-secondary-s:86.9%; --pep-color-user-secondary-l:42%;
  --pep-color-weak-h:var(--pep-color-user-primary-h); --pep-color-weak-s:var(--pep-color-user-primary-s); --pep-color-weak-l:var(--pep-color-user-primary-l);
  --pep-color-regular-h:var(--pep-color-user-primary-h); --pep-color-regular-s:var(--pep-color-user-primary-s);
  --pep-color-regular-l:var(--pep-color-user-primary-l); --pep-color-strong-h:var(--pep-color-user-primary-h);
  --pep-color-strong-s:var(--pep-color-user-primary-s); --pep-color-strong-l:var(--pep-color-user-primary-l); --pep-color-text-link-h:207;
  --pep-color-text-link-s:76%; --pep-color-text-link-l:37%; --pep-shadow-none-offset:0; --pep-shadow-xs-offset:0 0.125rem 0.25rem 0;
  --pep-shadow-sm-offset:0 0.25rem 0.5rem 0; --pep-shadow-md-offset:0 0.5rem 1rem 0; --pep-shadow-lg-offset:0 1rem 2rem 0;
  --pep-shadow-xl-offset:0 2rem 4rem 0; --pep-form-field-height:2.5rem; --pep-form-field-title-height:1.5rem; --pep-form-spacing:1rem;
  --pep-form-field-spacing:1rem; --pep-card-field-height:1.5rem; --pep-card-spacing:var(--pep-spacing-xs);
  --pep-card-border-radius:var(--pep-border-radius-md); --pep-shadow-card-offset:var(--pep-shadow-md-offset); --pep-table-field-height:2rem; --pep-table-spacing:0.5rem;
  --pep-table-border-radius:var(--pep-border-radius-md); --pep-style-qs:regular; --pep-color-qs-h:var(--pep-color-system-primary-h);
  --pep-color-qs-s:var(--pep-color-system-primary-s); --pep-color-qs-l:var(--pep-color-system-primary-l); --pep-style-top-header:weak; --pep-header-height:64px;
  --pep-main-height:873px; --pep-footer-bar-height:0rem;
}

