// // Import library functions for theme creation.
// @import '~@angular/material/theming';

// // Include non-theme styles for core.
// @include mat-core();

// // Define your application's custom theme.
// $primary: mat-palette($mat-indigo);
// $accent: mat-palette($mat-pink, A200, A100, A400);
// $theme: mat-light-theme($primary, $accent);

// // Include theme styles for Angular Material components.
// @include angular-material-theme($theme);

// Define pepperi lib theme and include theme styles for pepperi components.
@import '~@pepperi/lib/theming';
@include pepperi-theme();

// For test
// $pepperi-theme: get-pepperi-theme();

// @import './app/images-filmstrip/images-filmstrip.component.theme.scss';

// body {
//     @include pepperi-images-filmstrip-component-theme($pepperi-theme);
// }
