// Define pepperi lib theme and include theme styles for pepperi components.
@import '~@pepperi-addons/ngx-lib/theming';
@include pepperi-theme();

// Get the theme object.
$pepperi-theme: get-pepperi-theme();

// @import './app/app.component.theme.scss';

body {
    // @include addon-theme($pepperi-theme);
}


