<div class="ng-component-container" *ngIf="(dataSource$ | async) as installedAddons">

<mat-card>

        <pep-top-bar [inline]="true" [title]="('Title_Sub_Addon' | translate)">
            <div header-end-content>
                <pep-button [value]="'Open_Dialog' | translate" [sizeType]="'sm'" [styleType]="'strong'" (buttonClick)="openDialog();">
                </pep-button>
            </div>
        </pep-top-bar>
        <div class="table-content">
            <pep-table [displayedColumns]="displayedColumns" [dataSource]="(dataSource$ | async)"></pep-table>
        </div>
        <br>
        <div>
            <pep-select #pepSelect [value]="'Option 1'"[options]="options" [label]="'Select_Label' | translate "
            ></pep-select>
            <pep-button *ngIf="hostObject" [value]="'Close' | translate" [sizeType]="'md'" [styleType]="'strong'" (buttonClick)="hostEvents.emit({closeDialog: true});">
            </pep-button>
        </div>



</mat-card>
</div>


