<!-- <main> -->
  <div class="plugin-page-container">
    <div class="header-content full-screen">
        <div class="content pep-border-bottom">
            <div class="left-container spacing-element-negative pull-left flip">
                <div class="spacing-element title">
                    {{ 'List_Example_Title' | translate }}
                </div>
            </div>
            <div class="right-container spacing-element-negative pull-right flip">
                <button mat-button class="pep-button weak md spacing-element">
                    Test
                </button>
                <div class="menu spacing-element pull-right flip">
                    <pep-menu [key]="'menu'" [label]="'menu'" [disabled]="false" [xAlignment]="'right'"
                        [options]="[{ Key: 'test1', Value: 'test 1'}, { Key: 'test2', Value: 'test 2'}]"
                        (notifyMenuItemClicked)="onMenuItemClicked($event)">
                    </pep-menu>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content ">
        <div class="content">
            <div class="list-container" #listContainer>
                <pep-list
                    [firstFieldAsLink]="false"
                    [isReport]="true"
                    [supportSorting]="false"
                    [supportResizing]="false"
                    [selectionTypeForActions]="'multi'"
                    [noDataFoundMsg]="'No data'"
                    [parentScroll]="listContainer"
                    (notifyListChanged)="onListChange($event)"
                    (notifyFieldClicked)="onCustomizeFieldClick($event)"
                    (notifySelectedItemsChanged)="selectedRowsChanged($event)">
                </pep-list>
            </div>

        </div>
    </div>
</div>
