<!-- <main> -->
  <div class="plugin-page-container">
    <div class="header-content ">
        <div class="content pep-border-bottom">
            <div class="left-container spacing-element-negative pull-left flip">
                <div class="spacing-element title">
                    {{ 'List_Example_Title' | translate }}
                </div>
            </div>
            <div class="right-container spacing-element-negative pull-right flip">
                <button class="mat-button pep-button weak md spacing-element" (click)="toggleMenu()">
                    toggle menu
                </button>
                <pep-menu class="pull-right flip" [xPosition]="'after'" [menuStyle]="'strong'" [items]="menuItems"
                    [showAnimation]="true" (menuClick)="menuClicked($event)" [icon]="'system_edit'"
                    (menuItemClick)="onMenuItemClicked($event)" (animationStateChange)="onAnimationStateChange($event)">
                </pep-menu>
            </div>
        </div>
    </div>
    <div class="main-content ">
        <div class="content">
            <div class="list-container" #listContainer>
                <pep-list
                    [firstFieldAsLink]="false"
                    [isReport]="false"
                    [supportSorting]="false"
                    [supportResizing]="false"
                    [selectionTypeForActions]="'multi'"
                    [noDataFoundMsg]="'No data'"
                    [parentScroll]="listContainer"
                    (notifyListChanged)="onListChange($event)"
                    (notifyFieldClicked)="onCustomizeFieldClick($event)"
                    (notifySelectedItemsChanged)="selectedRowsChanged($event)">
                </pep-list>
            </div>

        </div>
    </div>
</div>
