mat-card{
    width: 600px;
    // padding-top: 2rem;
}


.table-content{
    height: 200px;
    overflow-y: auto;


}

:host ::ng-deep pep-list {
    .table-header {
        top: 0 !important;
    }
}

