.ui-test-container {
    //   margin: 0 2rem;

    .main-content{
    //   padding-top: .5rem;

        .content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1px 60px;
            grid-template-areas: "child1 child2 child3 child4";
            .child1 { grid-area: child1; }

            .child2 { grid-area: child2; }

            .child3 { grid-area: child3; }

            .child4 { grid-area: child4; }
        }

    }

    .header-content{
        .content{
        //   padding-bottom: 1rem;
        }
    }
}

@media screen and (max-width: 767px) {
    .ui-test-container{
        .main-content {
            .content {
                display: block;
            }
        }
    }
}


